---
import Layout from "@layouts/Layout.astro";
import {
  GROUP_ME_AUTH_REDIRECT,
  ACCESS_TOKEN_KEY,
  PREVIOUS_PAGE_KEY,
} from "@utils/const";

export const prerender = false;

const accessTokenCookie = Astro.cookies.get(ACCESS_TOKEN_KEY);
const accessTokenSearchParam = Astro.url.searchParams.get("access_token");

let accessToken: string;

function setAccessToken(token: string) {
  const date = new Date();
  date.setDate(date.getDate() + 7);
  Astro.cookies.set(ACCESS_TOKEN_KEY, token, {
    expires: date,
    path: "/",
  });
}

if (accessTokenCookie) {
  accessToken = accessTokenCookie.value;
  setAccessToken(accessToken);
} else if (accessTokenSearchParam) {
  setAccessToken(accessTokenSearchParam);
  const previousPage = Astro.cookies.get(PREVIOUS_PAGE_KEY);
  if (previousPage) {
    return Astro.redirect(previousPage.value);
  }
  accessToken = accessTokenSearchParam;
} else {
  return Astro.redirect(GROUP_ME_AUTH_REDIRECT);
}
---

<Layout title="Login">
  {
    accessToken ? (
      <p>You've successfully signed in.</p>
    ) : (
      <a href={GROUP_ME_AUTH_REDIRECT}>Click here to sign in</a>
    )
  }
  <a href="/chore-rotation/">Go to rotation</a>
</Layout>
